<!-- <div class="register-form" align="center">
  <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <mat-card class="mat-elevation-z8 register-card">
      <mat-card-title>Sign up</mat-card-title>

      <mat-card-content>
        <div class="form-row">
          <mat-form-field class="form-field">
            <input matInput type="text" formControlName="firstname" autocomplete="firstname" placeholder="First Name">
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput type="text" formControlName="lastname" autocomplete="lastname" placeholder="Last Name">
          </mat-form-field>
        </div>

        <mat-form-field class="form-field-full">
          <input matInput type="text" formControlName="address" autocomplete="address" placeholder="Address">
        </mat-form-field>

        <div class="form-row">
          <mat-form-field class="form-field">
            <input matInput type="text" formControlName="city" autocomplete="city" placeholder="City">
          </mat-form-field>
          <mat-form-field class="form-field-small">
            <mat-select>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="form-field">
            <input matInput type="text" formControlName="phone" autocomplete="phone" placeholder="Phone">
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput type="text" formControlName="mobilephone" autocomplete="mobilephone"
              placeholder="Mobile Phone">
          </mat-form-field>
        </div>

        <mat-form-field class="form-field-full">
          <input matInput type="email" formControlName="email" autocomplete="email" placeholder="E-mail">
        </mat-form-field>

        <div class="form-row">
          <mat-form-field class="form-field">
            <input matInput type="password" formControlName="password1" autocomplete="off" placeholder="New password">
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput type="password" formControlName="password2" autocomplete="off"
              placeholder="Password confirmation">
          </mat-form-field>
        </div>

        <div class="form-actions">
          <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">

          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div> -->