<div fxLayout="column" fxLayoutAlign="center center" class="not-found-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>404</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>Oops! Página não encontrada.</h2>
            <mat-icon color="warn" class="large-icon">cancel</mat-icon>
            <p>A página que você está procurando não existe ou foi removida.</p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" routerLink="/">Voltar para a Página Inicial</button>
        </mat-card-actions>
    </mat-card>
</div>