mat-card {
    margin: 40px;
    border: solid black;
}

.myClass1 {
    font-size: 16px;
    color: #f2f41f;
    background-color: blue;
    padding: 10px;
}

.myClass2 {
    font-size: 20px;
    color: #f2f;
    background-color: #000;
    padding: 20px;
}

.myClass3 {
    font-size: 25px;
    color: #f11;
    background-color: #000;
    padding: 30px;
}

.myClass4 {
    font-size: 30px;
    color: #dde000;
    background-color: #000;
    padding: 40px;
}