<h3>{{title}}</h3>
<div class="horizontal-buttons">
    <button mat-raisen-button class="button-sum" (click)="plusOneClick()">
        <mat-icon style="color: #fff;">exposure_plus_1</mat-icon>
    </button>
    <button mat-raisen-button class="button-sum" (click)="plusTwoClick()">
        <mat-icon style="color: #fff;">exposure_plus_2</mat-icon>
    </button>
    <button mat-raisen-button class="button-sub" (click)="SubOneClick()">
        <mat-icon style="color: #fff;">exposure_neg_1</mat-icon>
    </button>
    <button mat-raisen-button class="button-sub" (click)="subTwoClick()">
        <mat-icon style="color: #fff;">exposure_neg_2</mat-icon>
    </button>
</div>
