
<div>
    <button mat-button color="primary" (click)="stopwatch.start()">Start</button>
    <button mat-button color="primary" (click)="stopwatch.stop()">Pause</button>
    <button mat-button color="primary" (click)="stopwatch.clear()">Clear</button>
</div>

<app-timer #stopwatch></app-timer>


<div>
    <button mat-button color="primary" (click)="start()">Start</button>
    <button mat-button color="primary" (click)="stop()">Pause</button>
    <button mat-button color="primary" (click)="clear()">Clear</button>
</div>

<app-timer #stopwatch2></app-timer>

<p #myP>Hi</p>