.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-wrapper {
    width: 100%;
    max-width: 400px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
  }
  