<mat-toolbar class="container-fluid d-flex flex-row justify-content-between">
  My App
  <span class="d-flex"></span>

  <!-- Conteúdo para não autenticado -->
  <ng-template #notAuthenticated>
    <ng-container class="d-flex justify-content-end align-items-center">
      <button mat-button routerLink="/auth/login"><mat-icon>input</mat-icon>&nbsp;Sign In</button>
      <button mat-button routerLink="/auth/register"><mat-icon>person_add</mat-icon>&nbsp;Sign Up</button>
    </ng-container>
  </ng-template>

  <!-- Conteúdo para usuário autenticado -->
  <ng-container *ngIf="(authenticated$ | async) && (user$ | async); else notAuthenticated">
    <button mat-icon-button routerLink="/main/people">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu xPosition="before" [overlapTrigger]="false" #profileMenu="matMenu" class="before">
      <p class="username">{{(user$|async)?.email}}</p>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Exit
      </button>
    </mat-menu>
  </ng-container>

</mat-toolbar>
<router-outlet></router-outlet>