<div class="p-5 container-fluid d-flex flex-row justify-content-around align-items-center">

    <div class=" d-flex justfy-content-center flex-row">
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <mat-card class="login-form card container-fluid d-flex justify-content-center">
                <mat-card-title class="card-header text-center">Login</mat-card-title>
                <mat-card-content class=" d-flex flex-column" *ngIf="!loading">
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" type="email" autocomplete="email"
                            readonly="false">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password"
                            autocomplete="password">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex flex-row justfy-content-between aling-center">
                        <button mat-button color="warn" (click)="loginGoogle()" type="button"
                            [disabled]="loading">Google Login</button>
                        <button mat-button color="primary" type="submit"
                            [disabled]="!loginForm.valid || loading"><mat-icon>check</mat-icon>Login</button>
                        <!--button mat-button color="accent" routerLink="/auth/forgot"><mat-icon>lock_open</mat-icon><u> ESQUECI A SENHA</u></button-->
                    </div>
                </mat-card-actions>
                <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

            </mat-card>
        </form>

    </div>
</div>