<div class="d-flex justify-content-between align-items-center">
    <!-- Nome da Pessoa -->
    <div class="flex-grow-0" style="flex-basis: 30%;">
        <h3>{{person.name}}</h3>
    </div>

    <!-- Informações da Pessoa -->
    <div class="d-flex flex-column align-items-center">
        <div>
            Age: {{person.age}} - Address: {{person.address}} - City: {{person.city}} - Country: {{person.country}}
        </div>
    </div>

    <!-- Botões de Ação -->
    <div class="d-flex justify-content-end align-items-center">
        <button mat-button color="accent" (click)="update.emit(person)"><mat-icon>update</mat-icon>Change</button>
        <button mat-button color="warn" (click)="delete.emit(person)"><mat-icon>delete</mat-icon>Remove</button>
    </div>
</div>